﻿.calcHeaderBlue
{
  text-align:center;
  padding:4px;
  background-color:#3e4a7b;
  color:white;
  font:bold 14px arial,verdana;
}
.calcHeaderGreen
{
  text-align:center;
  padding:4px;
  background-color:#3e550a;
  color:white;
  font:bold 14px arial,verdana;
}
.calcHeaderGreenLight
{
  text-align:center;
  padding:4px;
  background-color:#849480;
  color:white;
  font:bold 14px arial,verdana;
}

.headerStyle
{
    height:20px;
    width:980px; 
    font-family:arial;
    font-size:14px;
    text-align:center;
    color:white;
    background-color:#345678;
    padding-top:2px;
    font-weight:bold;
    background-image:url("/images/menustrip2.png");
 }
 
 .Equation1
 {
    font-family:Cambria Math;
    font-size:22px;
    font-style:italic;
 }

