﻿body 
{
    background-image:url(/Images/BackGrounds/bc6.png);
    background-repeat:repeat-x;
    z-index:1;
}

.bodyg
{
    font:normal 13px arial;
    background-image:url('/Images/BackGrounds/bc6.png');
    background-repeat:repeat-x;
}

.atag
{
    display:block;
    width:168px;
    border-color:#eeeeee;
    text-align:left;
    padding-left:16px;
    margin-left:2px;
    padding-top:2px;
    padding-bottom:2px;
    font:normal small arial;
}

.menuDiv
{
    border-bottom:1px dashed #95c4b3;
}
    
.leftH
{
    font-size:small;
    font-family:arial,Tahoma;
    font-weight:bold;
    width:178px;
    text-align:center;
    background-color:#456789;
    color:White;
}
  
.upperMenu
{
    padding:6px 9px 6px 8px;
    font-size:12px;
    font-family:arial,Tahoma;
}